<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sequi voluptatibus ipsum officiis distinctio ratione, sint quo voluptas iure, ut nemo similique laborum dolorem libero minus. Esse quis totam aut quaerat saepe atque sint assumenda repellat itaque culpa animi optio rerum nihil, minima sed quia tempora, cum doloribus nulla placeat perspiciatis explicabo ut? Quo voluptate in voluptas beatae molestiae ex ratione ullam similique esse placeat vero architecto voluptates reiciendis aperiam consequuntur aspernatur ipsum consequatur ut provident quod, deleniti minus natus. Possimus beatae vero officiis sed autem praesentium ab accusamus sapiente assumenda amet atque veniam tenetur, eum aperiam. A, magni nam.</p>
</body>
</html>