<footer>
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, deleniti pariatur? Deleniti nostrum, fugiat alias sequi sit pariatur sapiente non quam aspernatur tempore, ex ab libero obcaecati accusamus, mollitia blanditiis vitae. Alias voluptas at modi nobis ipsum voluptatibus beatae magnam sapiente debitis sed nulla, ducimus voluptates, deserunt quasi veniam temporibus quae nihil aperiam qui obcaecati inventore! Dolor placeat alias sint deleniti illum quas earum consequuntur rerum sed quisquam. Minima amet sapiente eligendi voluptatem. Blanditiis quaerat porro id tempore! Aliquam omnis ipsum, odio et velit illum a fuga temporibus consequatur! Porro maxime laudantium ducimus eaque consequuntur laborum nemo eius ipsa nam!</p>
</footer>